@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap');

body, html, #ReactApp {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;

  background-color: #204051;
  font-family: "Baloo Paaji 2", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}